img.small-rotate {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    rotate: 20deg;
}

img.small-rotate:hover {
    -webkit-transform: rotate(20deg) scale(1.1) translate(20px, 20px);
    /* Градусы поворота можно изменить по необходимости */
    transform: rotate(20deg) scale(1.1) translateX(20px) translateY(20px);
    /* Градусы поворота можно изменить по необходимости */
}

.circle2 {
    position: absolute;
    animation: circle2 8s linear infinite;
}

@keyframes circle2 {
    0% {
        transform: rotate(0deg) translate(-7px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-7px) rotate(-360deg);
    }
}