@tailwind base;
@tailwind components;
@tailwind utilities;
.grad {
  background: linear-gradient(90deg, #000000d8, #1470b2b5);
  background: radial-gradient(circle, #6627f8, #ffffff);
}

.h {
  height: 124px;
  width: 140px;
}

.font {
  font-family: "Cantarell", sans-serif;
}

.spn {
  color: white;
  @apply font-normal text-start flex justify-start;
}

.glitch {
  font: {
    size: 2.2em;
    family: "Raleway", sans-serif;
    weight: 700;
    line-height: 25px;
  }
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 7%;
  left: 3%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  letter-spacing: 5px;
  &:before,
  &:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  &:after {
    color: rgb(159, 43, 159);
    z-index: -2;
  }
  &:before {
    color: rgb(38, 38, 40);
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    }
    &:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
    }
  }
}

@media only screen and (max-width: 400px) {
  .glitch {
    font-size: 3em;
    letter-spacing: 5px;
    line-height: 40px;
    top: 5%;
    left: 8%;
  }
}

@media only screen and (max-width: 300px) {
  .glitch {
    font-size: 2.3em;
    letter-spacing: 3px;
    line-height: 35px;
    top: 5%;
    left: 8%;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  to {
    transform: translate(0);
  }
}
